/* Incio de bg ---------------------------------*/
.bg-quienes-somos{
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;

}
.bg-quienes-somos img{
	transition: all 0.5s ease;
}
.bg-quienes-somos:hover img{
	transform: scale(1.6) rotate(10deg);
}

/* Fin de bg -----------------------------------*/

/* Incio de consejo directivo ----------------*/
.card{
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
}
.card:hover{
	transform: translateY(-10px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Fin de consejo directivo ------------------*/


