/* Incio de slider -----------------------------*/
.first-slider-bienvenida{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-bienvenida{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/2.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-bienvenida{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/3.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.first-slider-consejo{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/a1.jpg);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-consejo{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/a2.JPG);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-consejo{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/a3.jpg);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.first-slider-historia{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-historia{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/f1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-historia{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/qs1.jpg);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.first-slider-mv{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-mv{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/2.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-mv{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/3.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.first-slider-elegir{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-elegir{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/2.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-elegir{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/3.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.first-slider-principios{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/1.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.second-slider-principios{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/2.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
.three-slider-principios{
	width: 100%;
	height: 65vh;
	background-image: url(../img/quienes-somos/3.png);
	background-size: cover;
	background-position: top;
	background-blend-mode: center;
	background-color: rgba(0, 0, 0, 0.2);
}
/* Fin de slider -------------------------------*/

/* Incio de consejo directivo ----------------*/
.card{
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
}
.card:hover{
	transform: translateY(-10px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Fin de consejo directivo ------------------*/


