/* inicio de fuentes ---------------------------------*//*
@font-face{
	font-family: ;
	src:url("") format("truetype");
}*/
/* fin de fuentes ------------------------------------*/
/*media querys*/
@media(max-width:400px) { 
	.text-cel
{
		padding-top: 2em;
		font-size: 2em;
}
.carousel-inner{
	padding-top:4.2em;/*60px*/
}
.facebook{
	width: 280px;
}
.youtube{
	width: 280px;
}
}
@media(min-width:400px) { 
	.text-cel
{
		padding-top: 2em;
		font-size: 2em;
}
.carousel-inner{
	padding-top:4.2em;/*60px*/
}
.facebook{
	width: 350px;
}
.youtube{
	width: 350px;
}
}
@media(min-width:600px){
	.facebook{
		max-width: 800px;
	}
	.youtube{
		width: 500px;
	}
}
@media(min-width:980px){
	.facebook{
		max-width: 300px;
	}
	.youtube{
		width: 300px;
	}

}
/*fin media querys*/
/* inicio de general ---------------------------------*/
*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

/* fin de general ------------------------------------*/

/* Incio de Loading ---------------------------------*/
.loading{
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #404456;
	z-index: 3;
	transition: 0.5s;
}
.loading p{
	display: flex;
	justify-content: center;
	transform: translateY(1em);
	font-weight: bold;
	color: #fff;
	font-size: 1.4em;
}
#loader{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -2.7em;
	margin-left: -2.7em;
	width: 5.4em;
	height: 5.4em;
	background-color: #404456;
  }
  
  #hill {
	position: absolute;
	width: 7.1em;
	height: 7.1em;
	top: 1.7em;
	left: 1.7em;
	background-color: transparent;
	border-left: .25em solid whitesmoke;
	transform: rotate(45deg);
  }
  
  #hill:after {
	content: '';
	position: absolute;
	width: 7.1em;
	height: 7.1em;
	left: 0;
	background-color: #404456;
  }
  
  #box {
	position: absolute;
	left: 0;
	bottom: -.1em;
	width: 1em;
	height: 1em;
	background-color: transparent;
	border: .25em solid whitesmoke;
	border-radius: 15%;
	transform: translate(0, -1em) rotate(-45deg);
	animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
  }
  
  @keyframes push {
	0% {
	  transform: translate(0, -1em) rotate(-45deg);
	}
	5% {
	  transform: translate(0, -1em) rotate(-50deg);
	}
	20% {
	  transform: translate(1em, -2em) rotate(47deg);
	}
	25% {
	  transform: translate(1em, -2em) rotate(45deg);
	}
	30% {
	  transform: translate(1em, -2em) rotate(40deg);
	}
	45% {
	  transform: translate(2em, -3em) rotate(137deg);
	}
	50% {
	  transform: translate(2em, -3em) rotate(135deg);
	}
	55% {
	  transform: translate(2em, -3em) rotate(130deg);
	}
	70% {
	  transform: translate(3em, -4em) rotate(217deg);
	}
	75% {
	  transform: translate(3em, -4em) rotate(220deg);
	}
	100% {
	  transform: translate(0, -1em) rotate(-225deg);
	}
  }
.loadingOpacity{
	opacity: 0;
}
.ghost{
	display: none !important;
}
/* Fin de Loading -----------------------------------*/

/* Incio de navbar ----------------------------------*/
#header nav{
	z-index: 2;
}
.nav-logo{
	height: 2em;
	width: 2em;
}
/* Fin de navbar ------------------------------------*/

/* Inicio de Carousel --------------------------------*/
#main .carousel-inner img{
	max-height: 100vh;
	object-fit: cover;
}
#carousel{
	position: relative;
}
#carousel .overlay {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	background-color: rgba(0,0,0,0.5);
	color:white;
}
#carousel .overlay .container,
#carousel .overlay .row{
	height: 100%;
}


/* fin de Carousel*/
/* Noticias */
div[class*='col']{
	padding-bottom: 0.285714em /*4px-14*/
}
.animacion-noticias{
	-webkit-animation: bounce 2s ease infinite alternate;
	font-family: 'Erica One', cursive;
	text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
	/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -25px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }}
/*Fin de Noticias*/
/*Frames*/
hr {
	height: 4px;
	padding: 0;
	margin: 1;
}
.hr-primary{
	background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.text-siguenos{
	color:#007BFF;
	font-size: 2em;
}
/*Fin de Frames*/
